.search__input {
  inline-size: 100%;
  background-color: transparent;
  border: none;
  border-block-end: 0 solid var(--text-and-icons-color, #fff);
  border-radius: 0;
  transition: border, 0.5s ease-in-out;
  font-size: 25px;
}

.search__input_expanded {
  border-block-end: 1px solid var(--text-and-icons-color, #fff);
}

