.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 190px 1fr;
  justify-content: center;
  gap: 55px;
  color: var(--text-and-icons-color, #fff);
  font-family: "Roboto", sans-serif;
  background: var(--background-color, #8e2de2);
  background-repeat: no-repeat;
  block-size: 100dvh;
}

