.content__button_new {
  position: absolute;
  border: 5px solid var(--background-color, #8e2de2);
  border-radius: 100%;
  color: #fff;
  font-size: 42px;
  background-color: #000;
  inline-size: var(--new-button-size, 80px);
  block-size: var(--new-button-size, 80px);
  inset-inline-start: calc(50% - var(--new-button-size, 80px) / 2);
  inset-block-start: calc((var(--new-button-size, 80px) / 2) * -1);
}
