.content__button_new {
  appearance: none;
  border: none;
  background-color: #000;
  font-size: 60px;
  font-weight: 400;
  inline-size: var(--new-button-size, 80px);
  block-size: var(--new-button-size, 80px);
  border-radius: 100%;
  transition: scale 0.15s ease-in-out;
  position: absolute;
  inset-inline-start: calc(50% - var(--new-button-size, 100px) / 2);
  inset-block-start: calc(var(--new-button-size, 100px) / -2);
}

.content__button_new:hover {
  background-color: var(--text-annd-icons-hover-color, #67c6e3);
  scale: 1.2;
}
