.todo__button {
  border-radius: 100%;
  color: var(--text-and-icons-color, #fff);
  aspect-ratio: 1;
}

.todo__button svg {
  transition: scale 0.15s ease-in-out;

}

.todo__button:hover svg {
  color: var(--text-annd-icons-hover-color, #67c6e3);
  scale: 1.2;
}
