.todo__button {
  border: none;
  border-radius: 100%;
  color: var(--text-and-icons-color, #fff);
  background-color: transparent;
  cursor: pointer;
  aspect-ratio: 1;
  appearance: none;
}

.todo__button svg {
  transition: scale 0.15s ease-in-out;

}

.todo__button:hover svg {
  color: var(--text-annd-icons-hover-color, #67c6e3);
  scale: 1.2;
}
