.search__button {
  inline-size: var(--search-button-size, 35px);
  block-size: var(--search-button-size, 35px);
  color: var(--text-and-icons-color, #fff);
}

.search__button svg {
  pointer-events: none;
}

.search__button:hover {
  color: var(--text-annd-icons-hover-color, #67c6e3);
}
