.dialog__close {
  position: absolute;
  border: none;
  background: center / cover no-repeat url("/src/images/close.svg");
  cursor: pointer;
  inset-inline-start: calc(100%);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: calc(100% - 35px);
  inset-block-start: 15px;
}
