.dialog__container {
  border-radius: 10px;
  /* background-color: var(--content-background-color, #313866); */
  background-color: var(--text-annd-icons-hover-color, #ee4266);
  color: #fff;
  padding: 20px;
}
