.todo__text {
  position: relative;
  display: inline-block;
  font-size: clamp(0.813rem, 0.5rem + 1.333vw, 1.25rem);
}

.todo__text::before {
  content: "";
  position: absolute;
  background-color: var(--text-annd-icons-hover-color, #ee4266);
  transition: inline-size 0.15s linear;
  transition: scale 0.25s linear;
  transform-origin: left center;
  inset-inline-start: 0;
  inset-block-start: 45%;
  inline-size: 100%;
  block-size: 10%;
  rotate: -1.5deg;
  scale: 0 1;
}
