.todo__checkbox_custom {
  position: relative;
  display: inline-block;
  grid-area: todo__checkbox;
  align-self: center;
  margin-inline-end: 5px;
  box-shadow: 0 0 0 2px #fff;
  background-color: transparent;
  cursor: pointer;
  inline-size: var(--checkbox-size, 20px);
  block-size: var(--checkbox-size, 20px);
}

.todo__checkbox:checked + .todo__checkbox_custom::before {
  content: "";
  position: absolute;
  border-inline-end: 3px solid #fff;
  border-block-end: 3px solid #fff;
  inline-size: 9px;
  block-size: 15px;
  rotate: 45deg;
  inset-inline-start: 6px;
  inset-block-start: 0;
}
