.todo__checkbox_custom {
  position: relative;
  display: inline-block;
  grid-area: todo__checkbox;
  align-self: center;
  margin-inline-end: 5px;
  border: 2px solid #fff;
  background-color: transparent;
  transition: border-color 0.15s linear;
  cursor: pointer;
  inline-size: var(--checkbox-size, 23px);
  block-size: var(--checkbox-size, 23px);
}

.todo__checkbox:checked + .todo__checkbox_custom::before {
  content: "";
  position: absolute;
  border-inline-end: 3px solid #fff;
  border-block-end: 3px solid #fff;
  transition: border-color 0.15s linear;
  inline-size: 9px;
  block-size: 15px;
  rotate: 45deg;
  inset-inline-start: 6px;
  inset-block-start: 0;
}

.todo__checkbox:hover + .todo__checkbox_custom {
  border-color: var(--text-annd-icons-hover-color, #ee4266);
}

.todo__checkbox:hover + .todo__checkbox_custom::before {
  border-color: var(--text-annd-icons-hover-color, #ee4266);
}
