.todo__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline-end: 20px;
  overflow-y: auto;
}

.todo__list::-webkit-scrollbar {
  inline-size: 30px;
}

.todo__list::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    transparent,
    transparent 45%,
    rgba(255 255 255 / 0.15) 45%,
    rgba(255 255 255 / 0.15) 55%,
    transparent 55%
  );
}

.todo__list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    transparent,
    transparent 45%,
    rgba(255 255 255 / 1) 45%,
    rgba(255 255 255 / 1) 55%,
    transparent 55%
  );
  block-size: 70px;
}

.todo__list::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to right,
    transparent,
    transparent 45%,
    var(--text-annd-icons-hover-color, #ee4266) 45%,
    var(--text-annd-icons-hover-color, #ee4266) 55%,
    transparent 55%
  );
}

@supports (scrollbar-color: red blue) {
  .todo__list * {
    scrollbar-color: #fff
      linear-gradient(
        to right,
        transparent,
        transparent 40%,
        rgba(255 255 255 / 0.5) 40%,
        rgba(255 255 255 / 0.5) 60%,
        transparent 60%
      );
  }
}
