.todo__list {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 30px;
  overflow: auto;
  flex-basis: 550px;
  padding-inline-end: 20px;
}

.todo__list::-webkit-scrollbar {
  inline-size: 30px;
}

.todo__list::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    transparent,
    transparent 40%,
    rgba(255 255 255 / 0.5) 40%,
    rgba(255 255 255 / 0.5) 60%,
    transparent 60%
  );
}

.todo__list::-webkit-scrollbar-thumb {
  background-color: #fff;
  block-size: 30px;
  border-radius: 100%;
}

.todo__list::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-annd-icons-hover-color, #ee4266);
}

@supports (scrollbar-color: red blue) {
  .todo__list * {
    scrollbar-color: #fff
      linear-gradient(
        to right,
        transparent,
        transparent 40%,
        rgba(255 255 255 / 0.5) 40%,
        rgba(255 255 255 / 0.5) 60%,
        transparent 60%
      );
  }
}
