@import url('../dialog/__container/dialog__container.css');
@import url('../dialog/__title/dialog__title.css');
@import url('../dialog/__label/dialog__label.css');
@import url('../dialog/__input/dialog__input.css');
@import url('../dialog/__button/dialog__button.css');
@import url('../dialog/__close/dialog__close.css');
@import url('../dialog/__span/dialog__span.css');

.dialog {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  min-inline-size: 400px;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.55);
}
