@import url("./__button/_new/content__button_new.css");

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: var(--content-border-radius, 7px);
  padding: 50px 20px 20px 20px;
  box-shadow: 0 10px 10px rgba(0 0 0 / 0.4);
  background-color: var(--content-background-color, #7469b6);
  inline-size: 820px;
  block-size: 650px;
  justify-self: center;
}

.content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-top-left-radius: var(--content-border-radius, 7px);
  border-top-right-radius: var(--content-border-radius, 7px);
  background: var(--background-color, #8e2de2);
  background-attachment: fixed;
  transition: mask-size 0.15s ease-in-out;
  block-size: 10%;
  mask-image: url("/src/images/buttonMask.svg");
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 14%;
}

.content:has(.content__button_new:hover)::before {
  mask-size: 17%;
}
