.todo__list-item {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr 40px 40px;
  grid-template-rows: 1fr;
  grid-template-areas: "todo__label todo__text todo__button_edit todo__button_remove";
  column-gap: 5px;
  border: none;
  padding: 20px;
  /* overflow: hidden; */
  background-color: rgba(0 0 0 / 0.1);
  transition: background-color 0.25s linear;

}

.todo__list-item:hover {
  background-color: rgba(0 0 0 / 0.2);
}
