.header__button {
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: clamp(0.688rem, 0.286rem + 1.714vw, 1.25rem);
  min-inline-size: clamp(1.875rem, -7.5rem + 40vw, 15rem);
  translate: 0 250%;
  transition: translate 0.2s linear;
  padding: clamp(0.375rem, -0.268rem + 1.143vw, 0rem);
}

.header__button:hover {
  background-color: #fff;
  color: #000;
}


.header__label:has(.header__checkbox:checked) + .header__button-container > .header__button {
  translate: 0;
}


.header__button:nth-child(1) {
  transition-delay: 0.15s;
}

.header__button:nth-child(2) {
  transition-delay: 0.25s;
}

.header__button:nth-child(3) {
  transition-delay: 0.35s;
}

.header__button:nth-child(4) {
  transition-delay: 0.45s;
}


